// Fonts
$fonts: 'DM Sans', sans-serif;

// Template Colors

// Primary
$primary: #E81279;

// Secondary
$secondary: #6c757d;

// Success
$success: #198766;

// Warning
$warning: #fcff15;

// Info
$info: #0db7f0;

// Danger
$danger: #dc4135;

// White
$white: #ffffff;

// Dark
$dark: #0f0232;

// Dark Secondary 
$dark-sec: #2F076C;

// Heading
$heading: #1f0757;

// Text
$text: #8480ae;

// Text Gray
$text-gray: #ffffff;

// Border
$border: #ebebeb;

// Gray
$gray: #efeffd;